
.container {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 2em;  
}

.tableName {
    margin: 0.25em;
		color: #001970;
		cursor: pointer;
		width: 3em;
}
  